<style>
    .previewImageContainer {
        height: calc(100% - 64px);
        aspect-ratio: 0.7;
        background-color: var(--bg-colour-dark);
        border-radius: 32px;
        margin: 20px;
    }

    .previewImage {
        height: 100%;
        width: 100%;
        border-radius: 32px;
        object-fit: contain;
        object-position: center center;
        border-style: none;
    }

    label {
        color: whitesmoke;
    }
</style>

<div class="container-fluid d-inline-flex align-items-center" style="height: calc(100vh - 57px)">
    <div class="container-fluid h-100 p-0">
        <form id="uploadForm" enctype="multipart/form-data" asp-controller="Data" asp-action="PostImage">
            <label for="file">Select Image</label><br>
            <input type="file" id="file" name="file" accept="image/*"><br>
            <label for="name">Image Name</label><br>
            <input type="text" id="name" name="name"><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="previewImageContainer">
        <img class="previewImage" src="" />
    </div>
</div>

<script>
    document.getElementById('uploadForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        try {
            const response = await fetch('/api/data', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                this.reset();
                document.querySelector('.previewImage').src = "";
            } 
            else {
                alert('Upload failed. Please try again.');
            }
        } 
        
        catch (error) {
            console.error('Error:', error);
            alert('An error occurred while uploading. Please try again.');
        }
    });

    document.getElementById('file').addEventListener('change', function(e) {
        const file = e.target.files[0];

        const fileNameWithoutExtension = file.name.replace(/\.[^\.]*$/, '');
        document.getElementById('name').value = fileNameWithoutExtension;

        if (file) {
            document.querySelector('.previewImage').src = URL.createObjectURL(file);

            // Clean up when done
            document.querySelector('.previewImage').onload = function() {
                URL.revokeObjectURL(this.src);
            };
        }
    });
</script>
