@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col bg-colour-main text-white p-5">
            Left Column
        </div>

        <div class="col bg-colour-main text-white p-5">
            Right Column
        </div>
    </div>
</div>