@{
    ViewData["Title"] = "Home Page";
}
<style>
    :root {
        --columns: 5;
        --entry-width: 184px;
        --entry-margin: 16px;
    }

    .library-container {
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        list-style: none;
        width: calc((var(--columns) * var(--entry-width)) + (var(--columns) * var(--entry-margin) * 2) + 12px);
        overflow: auto;
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        margin: 0 80px 0 80px;
        max-height: calc(100vh - 57px);
    }

    .entry-container {
        width: var(--entry-width);
        margin: var(--entry-margin);
    }

    .thumbnail-container {
        display: inline-flex;
        width: var(--entry-width);
        height: var(--entry-width);
    }

    .thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: var(--bg-colour-dark);
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
        border-style: none;
        transition: opacity 0.2s;
    }

        .thumbnail:hover {
            opacity: 0.5;
        }

    .label-container{
        padding-left: 4px;
    }

    .label-container a {
        color: rgb(180, 180, 180) !important;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        text-decoration: none;
    }
</style>

<div class="container h-100 d-flex justify-content-center align-items-start overflow-hidden" style="max-height: calc(100vh - 57px)">
    <ul class="library-container">
        <!-- Images get inserted here on DOMContentLoaded -->
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', loadImages);

    async function loadImages() {
        try {
            const response = await fetch('/api/data');
            const images = await response.json();
            
            const libraryContainer = document.querySelector('.library-container');

            images.forEach(image => {
                const entryContainer = document.createElement('li');
                entryContainer.className = 'entry-container';

                entryContainer.innerHTML = `
                    <a class="thumbnail-container" href="/Home/ImageViewer?id=${image.id}">
                        <img src="${image.filePathName}" class="thumbnail" />
                    </a>
                    <div class="label-container">
                        <a asp-area="" href="/Home/ImageViewer?id=${image.id}">${image.fileName}</a>
                    </div>
                `;

                libraryContainer.appendChild(entryContainer);
            });
        } 
        
        catch (error) {
            console.error('Error loading images:', error);
        }
    }  
</script>