:root {
    --bg-colour-main: rgb(50, 50, 50);
    --bg-colour-dark: rgb(38, 38, 38);
    --bg-colour-darker: rgb(28, 28, 28);
    --bg-colour-light: rgb(120, 120, 120);
    --border-colour: rgb(33, 33, 33);
    --text-colour: rgb(180, 180, 180);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.bg-colour-main {
    background-color: var(--bg-colour-main);
}

.bg-colour-dark {
    background-color: var(--bg-colour-dark);
}

.bg-colour-darker {
    background-color: var(--bg-colour-darker);
}

.bg-colour-light {
    background-color: var(--bg-colour-light);
}

.border-colour {
    border-color: var(--border-colour);
}

.text-colour {
    color: var(--text-colour);
}

.side-panel {
    width: 18vw;
    height: 100%;
    margin-right: 8px;
    background-color: var(--bg-colour-dark);
    border-radius: var(--bs-border-radius);
    overflow: hidden;
}

.panel-container {
    width: 100%;
    height: fit-content;
    padding: .5rem;
    padding-bottom: 0;
    gap: 0.5rem;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    word-wrap: break-word;
}

.panel-title-text {
    font-size: 24px;
}

.delete-button {
    background-color: #cc0000;
    color: #ff8888;
    border-color: #aa0000;
    border-radius: 4px;
    opacity: 75%;
    transition: filter 0.1s;
}
    .delete-button:hover {
        filter: brightness(125%);
        cursor: pointer;
    }

.tags-container {
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
}

.tag-container {
    padding: 4px 8px 4px 8px;
    border-radius: 16px;
    white-space: nowrap;
    height: fit-content;
    width: fit-content;
    margin-bottom: 4px;
    transition: filter 0.1s;
    overflow: hidden;
}

    .tag-container:hover {
        filter: brightness(125%);
        cursor: pointer;
    }

.tag-text {
    color: white;
    font-weight: bold;
    line-height: 1;
    user-select: none;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}